body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 1rem;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 2rem;
}

#projects {
    background-color: #f4f4f4;
}

#project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.project {
    background-color: white;
    border: 1px solid #ddd;
    padding: 1rem;
    width: calc(33.333% - 2rem);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 1rem;
}

footer ul li a {
    color: white;
    text-decoration: none;
}